.navbar {
	background-color: #FF7373;
}

.nav a {
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

a {
	color: #FF7373;
}

.about {
  padding-top: 125px;
  padding-bottom: 85px;
  text-align: center;
  background-color: #86CECB;
  color: #FFF;
}

.about h1 {
  font-family: 'Bitter', serif;
}

.about h3 {
  font-family: 'Bitter', serif;
}

.about p {
  padding-top: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.audience {
	padding-top: 85px;
  padding-bottom: 85px;
	text-align: center;
	background-color: #E3E4E9;
	color: #2F4F4F;
}

.audience h2 {
	font-family: 'Bitter', serif;
}

.audience p {
  padding-top: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

.form {
  text-align: center;
  width: 300px;
  background-color: #137A7F;
  border-radius: 6px;
  margin: 85px auto 80px auto;
  display: block;
  position: relative;
  font-family: 'Lato', sans-serif;
}

.form p {
  padding-top: 2px;
}

input {
  width: 280px;
  height: 40px;
  border-radius: 3px;
  background-color: white;
  border: none;
  margin: 10px;
}