<!DOCTYPE html>
<head>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,700italic|Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    <title>Audiolyzer</title>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" id="site-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Audiolyzer</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="page-scroll">
            <a href="#about">About</a>
          </li>
          <li class="page-scroll">
            <a href="#audience">Audience</a>
          </li>
          <li class="page-scroll">
            <a href="#">C</a>
          </li>
          <li class="page-scroll">
            <a href="#">D</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>

    <div class="about">
      <div class="container">
      	<div class="row">
      	  <h1>Audiolyzer</h1>
          <h3>Listen to your data.</h3>
      	  <p>Audiolyzer is an alternative to visualizing data by turning the visual parameters into sound.</p>
      	</div>
      </div>
    </div>

    <div class="audience">
      <div class="container">
      	<div class="row">
      	  <h2>Audience</h2>
      	  <p>Our audience is comprised of visually impaired users. In the U.S. alone, <a href="https://nfb.org/blindness-statistics">there are 6,670,300 blind adults</a>.</p>
      	  <p>In the future, we hope that radio stations, podcasts and other audio outlets will be able to use this software.</p>

<form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
</form>